html,
body,
div,
ul,
li {
    margin: 0;
    padding: 0;
}
body {
    background: url(../images/body_bg.jpg) 0px 0px repeat-x #000;
    overflow: hidden;
}
ul,
li {
    list-style: none;
}
.start {
    position: absolute;
    bottom: 20%;
    left: 39%;
    font-weight: bold;
    z-index: 100;
}
.btn {
    color: #666;
    background-color: #EEE;
    border-color: #EEE;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    height: 60px;
    padding: 0 60px;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.btn-caution {
    background-color: #FF4351;
    border-color: #FF4351;
    color: #FFF;
}
.btn-pill {
    border-radius: 200px;
}
.main_bg {
    background: url(../images/main_bg.jpg) top center no-repeat;
    height: 1000px;
}
.main {
    width: 1000px;
    height: 1000px;
    position: relative;
    margin: 0 auto;
}
.ld_box {
    height: 450px;
    width: 750px;
    position: absolute;
    left: 50%;
    top: 340px;
    margin-left: -370px;
    z-index: 8;
    overflow: hidden;
    text-align: center;
}
.ld_box .ld_list {
    height: 269px;
    overflow: hidden;
    position: relative;
}
.ld_box .ld_list .list-group {
    width: 100%;
    height: 269px;
    font-size: 250px;
    position: absolute;
    top: 0;
}
